@alias
  fs font-size
  ff font-family
  fr font-range
  fw font-weight
  bg background

html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

body
  fs responsive 14px 21px
  fr 420px 1280px

.wrapper
  lost-utility clearfix
  lost-center 1000px
  padding 0 20px
